html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* ALERT MESSAGES*/
/* popup in centre of screen and require user interaction before disappearing */
.swal-modal{
    font-family: Roboto, Arial, Helvetica;
}
.swal-text{
    text-align: center;
}

/* INFORMATION MESSAGES */
/* popup in bottom-left of screen and disappear after a couple of seconds */
.dhtmlx-save-message, .dhtmlx-info.dhtmlx-save-message div{
    font-weight: bold !important;
    color: #FFF !important;
    background-color: #26A65B !important;
    border: none !important;
}
.dhtmlx-delete-message, .dhtmlx-info.dhtmlx-delete-message div{
    font-weight: bold !important;
    color: #FFF !important;
    background-color: #e53935 !important;
    border: none !important;
}

/* LOGIN & REGISTER PAGES */
.stms_pale_container{
    background-color: #f2faff;
}
div#stms_login_container, div#stms_register_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%); /*This translates the login box so that it is centered, but 55% is used because it looks a better a bit higher up than perfectly in the center*/
}
    div#stms_login_top, div#stms_register_top{
    }
        div#stms_login_icon, div#stms_register_icon{
            background-image: url("../media/icons/black_app_icon.png");
            background-size: cover;
            width: 70px;
            height: 70px;
            margin: 0 auto;
        }
        div#stms_login_title, div#stms_register_title{
            padding: 8px 0 25px 0;
            text-align: center;
            font-family: Roboto, Arial, Helvetica;
            font-weight: bold;
            font-size: 20px;
        }
    div#stms_login_bottom, div#stms_register_bottom{
        box-sizing: border-box;
        border-radius: 8px;
        box-shadow: 0 0 10px #AAA;
        background-color: #FFF;
        padding: 15px;
    }
        div#stms_login_desc, div#stms_register_desc{
            padding: 5px 0 10px 0;
            text-align: center;
            font-family: Roboto, Arial, Helvetica;
            font-weight: bold;
            font-size: 14px;
        }
        div#stms_login_dhx_form, div#stms_register_dhx_form{
            text-align: center;
        }
            div#stms_login_dhx_form .dhxform_item_required{
                display: none;
            }
            div#stms_login_dhx_form .validate_error div.dhxform_control input, div#stms_register_dhx_form .validate_error div.dhxform_control input{
                border-bottom-color: red;
            }
            div.stms_login_button, div.stms_register_button{
                display: inline-block;
                padding-bottom: 10px;
            }
        div#stms_login_links, div#stms_register_links{
            text-align: center;
            font-family: Roboto, Arial, Helvetica;
            font-size: 13px;
        }
            div#stms_login_links a, div#stms_register_links a{
                color: #2a86b2;
                text-decoration: none;
            }
            div#stms_login_links a:hover, div#stms_register_links a:hover{
                text-decoration: underline;
            }

/* APPLICATION LAYOUT */

/* Hide the default header at the top of the DHTMLX layout cell*/
div.dhx_cell_hdr{
    display: none;
}

/* Custom application header */
div#stms_header{
    height: 42px;
    width: 100%;
    font-family: Roboto, Arial, Helvetica;
    color: #FFFFFF;
    background-color: #3399CC;
    visibility: hidden;
    position: absolute;
    z-index: 1;
}

    div#stms_title{
        float: left;
    }

        div#stms_title_icon{
            float: left;
            margin: 4px;
            height: 34px;
            width: 34px;
            background-image: url("../media/icons/white_app_icon.png");
            background-size: cover;
        }

        div#stms_title_text{
            float: left;
            line-height: 42px;
        }

    div#stms_account{
        float: right;
        cursor: pointer;
    }

        div#stms_account:hover{
            background-color: #2c85b2;
        }

        div#stms_account_text{
            float: right;
            line-height: 42px;
            margin-left: 10px;
        }

        div#stms_account_icon{
            float: right;
            margin: 5px 5px 5px 10px;
            height: 32px;
            width: 32px;
            background-color: #205e7c;
            border-radius: 16px;
            text-align: center;
            line-height: 32px;
            font-size: 12px;
        }

div.dhxsidebar_item_text{
    font-size: 13px;
}

/* CALENDAR PAGE */
/* Customise scheduler header layout (because we are adding a create button) */
div.dhx_cal_tab.day_tab{
    display: none
}

div.dhx_cal_tab.week_tab{
    border-radius: 2px 0 0 2px;
    left: 16px !important;
}
div.dhx_cal_tab.month_tab{
    left: 103px !important;
}
div.dhx_cal_prev_button{
    right: auto;
    left: 205px;
}
div.dhx_cal_today_button{
    right: auto;
    left: 240px;
}
div.dhx_cal_next_button{
    right: auto;
    left: 325px;
}
div.dhx_cal_create_button{
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #0288d1;
    right: 16px;
    background-image: none;
    background-position: -62px 0;
    background-repeat: no-repeat;
    height: 30px;
    width: 80px;
    border: 1px solid transparent;
    border-radius: 2px;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
}
div.dhx_cal_create_button:hover{
    border: 1px solid transparent;
    background-color: rgba(0,0,0,.1);
    transition: all .1s ease-in-out;
}

/* Customise DHTMLX scheduler lightbox to work on smaller screens */
div.dhx_cal_light{
    width: 480px !important;
}
    div.dhx_cal_ltitle{
        margin: 0;
    }
    div.dhx_cal_larea{
        max-height: 400px; /* this must be set automatically based on window height */
        overflow: auto;
        padding: 20px 0 0 0;
    }
        div.dhx_cal_larea div.dhx_wrap_section,  div.dhx_cal_larea div.dhx_cal_lsection,
        div.dhx_cal_larea div.dhxcombo_material, div.dhx_cal_larea input{
            background: transparent;
        }

/* Customise DHTMLX scheduler lightbox controls (because they don't work like they're meant to) */
.dhx_cal_light_wide .combo>div, .dhx_cal_light_wide .dhx_combo_box, .dhx_cal_light_wide input.dhxcombo_input{
    width: 335px !important;
}

input.dhxcombo_input[readonly=true]{
    cursor: default;
}

div.dhxcombolist_material:not(.dhxform_obj_material){
    width: 332px !important;
}

input.dhx_repeat_date{
    width: 100px;
}
div.dhx_repeat_left label:last-child{
    display: none;
}

/* Custom lightbox section for users to enter information about a course's grading */
div#stms_lightbox_grading input[type=checkbox]{
    margin: 10px;
}
div#stms_lightbox_grading select, div#stms_lightbox_grading input[type=number]{
    width: 100px;
    height: 32px;
    margin: 0 5px 0 10px;
    box-sizing: border-box;
    font-size: 14px;
    padding: 2px 2px 2px 8px;
    border: 1px solid rgba(0,0,0,.08);
}
div.stms_lightbox_grading_hidden tr:last-of-type{
    display: none;
}
div.stms_lightbox_grading_hidden td:nth-of-type(2), div.stms_lightbox_grading_hidden td:last-of-type{
    display: none;
}

/* Make font size smaller on popup to fix "Edit occurrence" button exceeding its width for editing recurring events */
.dhtmlx_popup_button div {
    font-size: 13px;
}

/* TASKS PAGE */
/* Customise DHTMLX tabbar so that tabs on task page stretch to fill 50% width of column */
div#stms_tasks{
    height: 100%;
}
div#stms_tasks_header{
    box-sizing: border-box;
    background-color: #FAFAFA;
    height: 43px;
    line-height: 43px;
    padding-left: 10px;
    border-bottom: 2px solid #39c;
}
    div#stms_tasks_header h2{
        margin: 0;
        color: #39c;
        text-align: center;
        font-family: Roboto, Arial, Helvetica;
        font-weight: normal;
        font-size: 14px;
        text-transform: uppercase;
    }

div#stms_tasks_cont{
    box-sizing: border-box;
    padding: 15px 10px;
}
    div#stms_tasks_cont h3{
        margin: 0;
        font-family: Roboto, Arial, Helvetica;
        font-weight: bold;
        font-size: 20px;
    }
    div#stms_tasks_cont h4{
        margin: 25px 0 10px 0;
        font-family: Roboto, Arial, Helvetica;
        font-style: italic;
        font-weight: normal;
        font-size: 15px;
    }
    table#stms_task_suggestion_list{
        width: 100%;
        font-family: Roboto, Arial, Helvetica;
    }
        table#stms_task_suggestion_list td{
            border-bottom: 10px solid transparent;
        }
        table#stms_task_suggestion_list td.stms_task_suggestion_priority{
            width: 34px;
        }
        table#stms_task_suggestion_list td.stms_task_suggestion_date{
            text-align: right;
        }
            div.stms_priority_icon{
                display: inline-block;
                vertical-align: middle;
                box-sizing: border-box;
                border-width: 2px;
                border-style: solid;
                font-size: 14px;
                font-weight: bold;
                width: 24px;
                height: 24px;
                line-height: 24px;
                text-align: center;
                border-radius: 12px;
                margin: 0 10px;
            }
                div.stms_priority_icon_high{
                    background-color: rgba(255, 0, 0, 0.1);
                    color: red;
                    border-color: red;
                }
                div.stms_priority_icon_medium{
                    background-color: rgba(255, 165, 0, 0.1);
                    color: orange;
                    border-color: orange;
                }
                div.stms_priority_icon_low{
                    background-color: rgba(0, 255, 0, 0.1);
                    color: green;
                    border-color: green;
                }
            span.stms_priority_text{
                line-height: 24px;
                vertical-align: middle;
            }
                span.stms_priority_text_high{
                    color: red;
                    font-weight: bold;
                    font-size: 20px;
                }
                span.stms_priority_text_medium{
                    color: orange;
                    font-weight: bold;
                    font-size: 16px;
                }
                span.stms_priority_text_low{
                    color: green;
                    font-weight: normal;
                    font-size: 14px;
                }

div.dhxtabbar_tabs_cont_left{
    width: 100% !important;
}
div.dhxtabbar_tab{
    width: 50% !important;
}
div.gridbox{
    overflow: auto;
}
div#stms_tasks_grid.gridbox_empty{
    display: none;
}
div#stms_tasks_none{
    display: none;
}
div#stms_tasks_none.gridbox_empty{
    display: block;
    width: 100%;
    text-align: center;
    font-family: Roboto, Arial, Helvetica;
    font-size: 12px;
    color: #AAA;
    margin: 30px 0;
}
div.dhx_task_create_button{
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    color: #0288d1;
    float: right;
    margin-top: -10px;
    background-image: none;
    background-position: -62px 0;
    background-repeat: no-repeat;
    height: 30px;
    width: 80px;
    border: 1px solid transparent;
    border-radius: 2px;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
}
div.dhx_task_create_button:hover{
    border: 1px solid transparent;
    background-color: rgba(0,0,0,.1);
    transition: all .1s ease-in-out;
}
div#stms_tasks_grid tr.stms_task_disabled{
    text-decoration: line-through;
}
/* assignments */
.dhx_wrap_section .dhx_cal_wide_checkbox input[type=checkbox]{
    margin-left: 13px;
}
.dhx_cal_light_wide .dhx_cal_ltext{
    margin: 0 0 0 108px;
    width: 335px;
}
input#stms_lightbox_duedate{
    height: 26px;
    width: 115px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 13px;
    font-size: 14px;
    color: #000;
    border: 1px solid rgba(0,0,0,.1);
}
div#stms_assignments_upcoming, div#stms_assignments_completed{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    padding: 10px;
    font-family: Roboto, Arial, Helvetica;
}
div.dhx_assignment_create_button{
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    color: #0288d1;
    float: right;
    margin-top: -10px;
    background-image: none;
    background-position: -62px 0;
    background-repeat: no-repeat;
    height: 30px;
    width: 80px;
    border: 1px solid transparent;
    border-radius: 2px;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
}
div.dhx_assignment_create_button:hover{
    border: 1px solid transparent;
    background-color: rgba(0,0,0,.1);
    transition: all .1s ease-in-out;
}
div#stms_assignments_upcoming h4, div#stms_assignments_completed h4{
    margin: 6px 0 20px 0;
    font-family: Roboto, Arial, Helvetica;
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
}
table.stms_assignments_list_table{
    width: 100%;
}
    tr.stms_assignments_duedate_row td{
        font-size: 16px;
        font-weight: bold;
        padding: 8px 0 5px 0;
    }
    tr.stms_assignments_task_row > td{
        padding-bottom: 5px;
    }
        table.stms_assignment_block{
            padding: 5px;
            width: 100%;
            background-color: rgba(149,165,166, 0.2);
            border: 1px solid #888;
            border-radius: 2px;
            cursor: pointer;
        }
        table.stms_assignment_block:hover{
            background-color: rgba(149,165,166, 0.25);
        }
        table.stms_assignment_block.colour_red{
            background-color: rgba(195,39,43,0.2);
        }
        table.stms_assignment_block.colour_red:hover{
            background-color: rgba(195,39,43,0.25);
        }
        table.stms_assignment_block.colour_orange{
            background-color: rgba(249,105,14,0.2);
        }
        table.stms_assignment_block.colour_orange:hover{
            background-color: rgba(249,105,14,0.25);
        }
        table.stms_assignment_block.colour_yellow{
            background-color: rgba(255,164,0,0.2);
        }
        table.stms_assignment_block.colour_yellow:hover{
            background-color: rgba(255,164,0,0.25);
        }
        table.stms_assignment_block.colour_green{
            background-color: rgba(38,166,91,0.2);
        }
        table.stms_assignment_block.colour_green:hover{
            background-color: rgba(38,166,91,0.25);
        }
        table.stms_assignment_block.colour_blue{
            background-color: rgba(34,167,240,0.2);
        }
        table.stms_assignment_block.colour_blue:hover{
            background-color: rgba(34,167,240,0.25);
        }
        table.stms_assignment_block.colour_purple{
            background-color: rgba(135,95,154,0.2);
        }
        table.stms_assignment_block.colour_purple:hover{
            background-color: rgba(135,95,154,0.25);
        }
        table.stms_assignment_block.colour_pink{
            background-color: rgba(244,121,131,0.2);
        }
        table.stms_assignment_block.colour_pink:hover{
            background-color: rgba(244,121,131,0.25);
        }
            tr.stms_assignment_header_row{
                font-weight: bold;
            }
                table.stms_assignment_block.overdue tr.stms_assignment_header_row td{
                    color: red;
                }
                tr.stms_assignment_header_row td:last-of-type{ /* due time cell */
                    text-align: right;
                }
            tr.stms_assignment_cont_row td{
                font-size: 12px;
                padding-left: 24px;
                color: #555;
            }
            table.stms_assignment_block tr.stms_assignment_cont_row.stms_assignment_course_row td{ /* assignment course cell */
                font-size: 15px;
                padding-bottom: 3px;
                color: #000;
            }
            table.stms_assignment_block tr:last-of-type td{ /* assignment weighting cell */
                padding-bottom: 3px;
            }
table.stms_assignment_block div.coloured_checkbox{
    width: 18px;
    height: 18px;
    display: block;
    position: relative;
    float: left;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
}
table.stms_assignment_block div.coloured_checkbox::after{
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    border-radius: 2px;
}
table.stms_assignment_block div.coloured_checkbox:hover::after{
    opacity: 0.85;
}
table.stms_assignment_block div.coloured_checkbox input{
    vertical-align: middle;
    cursor: pointer;
}
table.stms_assignment_block div.colour_red::after{
    background-image: url(/media/colours/red.png);
}
table.stms_assignment_block div.colour_orange::after{
    background-image: url(/media/colours/orange.png);
}
table.stms_assignment_block div.colour_yellow::after{
    background-image: url(/media/colours/yellow.png);
}
table.stms_assignment_block div.colour_green::after{
    background-image: url(/media/colours/green.png);
}
table.stms_assignment_block div.colour_blue::after{
    background-image: url(/media/colours/blue.png);
}
table.stms_assignment_block div.colour_purple::after{
    background-image: url(/media/colours/purple.png);
}
table.stms_assignment_block div.colour_pink::after{
    background-image: url(/media/colours/pink.png);
}
div.stms_assignments_none{
    display: none;
    width: 100%;
    text-align: center;
    padding: 70px 0;
    font-size: 12px;
    color: #AAA;
}
div.stms_assignments_none.assignments_empty{
    display: block;
}

/* SEMESTERS PAGE */
div#stms_semesters_left{
    height: 100%;
}
div#stms_semesters_button_bar{
    box-sizing: border-box;
    background-color: #FAFAFA;
    width: 100%;
    height: 43px;
    line-height: 43px;
    padding-left: 10px;
    border-bottom: 2px solid #39c;
}
    div#stms_semesters_button_bar h2{
        margin: 0;
        color: #39c;
        text-align: left;
        font-family: Roboto, Arial, Helvetica;
        font-weight: normal;
        font-size: 14px;
        text-transform: uppercase;
    }
    div.dhx_semester_create_button{
        font-family: Roboto, Arial, Helvetica;
        cursor: pointer;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        color: #0288d1;
        position: absolute;
        top: 0;
        right: 10px;
        margin-top: 5px;
        background-image: none;
        background-position: -62px 0;
        background-repeat: no-repeat;
        height: 30px;
        width: 80px;
        border: 1px solid transparent;
        border-radius: 2px;
        line-height: 30px;
        text-decoration: none;
        text-transform: uppercase;
    }
    div.dhx_semester_create_button:hover{
        border: 1px solid transparent;
        background-color: rgba(0,0,0,.1);
        transition: all .1s ease-in-out;
    }
div#stms_semesters_list_wrapper{
    height: calc(100% - 43px);
    overflow: auto;
}
table#stms_semesters_list{
    font-family: Roboto, Arial, Helvetica;
    padding: 10px;
    width: 100%;
}
    table#stms_semesters_list td{
        cursor: pointer;
    }
    table#stms_semesters_list tr.selected td{
        background-color: #DDD;
    }
    table#stms_semesters_list tr.stms_semester_row td{
        display: block;
        padding: 5px;
        margin-top: 10px;
    }
    table#stms_semesters_list tr.stms_semester_row:first-child td{
        margin-top: 0px;
    }
    table#stms_semesters_list tr:not(.selected) td:hover{
        background-color: #EEE;
    }
        table#stms_semesters_list span.stms_semester_name{
            display: block;
            font-weight: bold;
            font-size: 18px;
            padding-bottom: 5px;
        }
        table#stms_semesters_list span.stms_semester_date{
            display: block;
            font-size: 12px;
            color: #555;
        }
    table#stms_semesters_list tr.stms_course_row td{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 15px;
    }
        table#stms_semesters_list tr.stms_course_row span{
            display: block;
            margin-left: 15px;
            padding-left: 30px;
            background-repeat: no-repeat;
            background-position: left center;
        }
        table#stms_semesters_list tr.stms_course_row span.colour_red{
            background-image: url(/media/colours/red.png);
        }
        table#stms_semesters_list tr.stms_course_row span.colour_orange{
            background-image: url(/media/colours/orange.png);
        }
        table#stms_semesters_list tr.stms_course_row span.colour_yellow{
            background-image: url(/media/colours/yellow.png);
        }
        table#stms_semesters_list tr.stms_course_row span.colour_green{
            background-image: url(/media/colours/green.png);
        }
        table#stms_semesters_list tr.stms_course_row span.colour_blue{
            background-image: url(/media/colours/blue.png);
        }
        table#stms_semesters_list tr.stms_course_row span.colour_purple{
            background-image: url(/media/colours/purple.png);
        }
        table#stms_semesters_list tr.stms_course_row span.colour_pink{
            background-image: url(/media/colours/pink.png);
        }
div#stms_semesters_none{
    display: none;
    width: 100%;
    text-align: center;
    font-family: Roboto, Arial, Helvetica;
    font-size: 12px;
    color: #AAA;
    margin: 50px 0;
}
div#stms_semesters_right{
    padding: 15px;
}
div#stms_semesters_right h2{
    font-family: Roboto, Arial, Helvetica;
    font-size: 22px;
    margin: 0;
}
div.stms_delete_course_button > div, div.stms_delete_semester_button > div{
    color: red !important;
    background-color: #f9eded !important;
    border-color: #e5d3d3 !important;
    font-weight: 500;
}
div.stms_delete_course_button > div.dhxform_btn_over, div.stms_delete_semester_button > div.dhxform_btn_over{
    background-color: #f7e8e8 !important;
}
div.stms_delete_course_button > div.dhxform_btn_pressed, div.stms_delete_semester_button > div.dhxform_btn_pressed{
    background-color: #f4e3e3 !important;
}
div.stms_delete_course_button > div:focus, div.stms_delete_semester_button > div:focus{
    border-color: red !important;
}